# These parameters should be encrypted using KMS
SLACK_TOKEN=ABC...
DB_PASSWORD=DEF...
SIP2_TERMINAL_PASSWORD=GHI...
# These parameters should be in plain text
DB_USERNAME=
SIP2_HOSTNAME=
SIP2_PORT=
SLACK_CHANNEL=
SLACK_USERNAME=
SLACK_LOGGING_LEVEL=
DEFAULT_LOGGING_LEVEL=
JOB_SERVICE_URL=
USE_JOB_SERVICE=
IDENTITY_HEADER=
TIME_ZONE=
SCHEMA_BASE_URL=
API_BASE_URL=
SWAGGER_SCHEME=
SWAGGER_GENERAL_URL=
SWAGGER_HOST=
